/* Dark Mode Styles */
body {
    background-color: #6786ad;
    color: #ebe9e9;
}

header {
    background: #2f3c4f;
}

header nav a {
    color: #fff;
}

footer {
    background: #385170;
}

footer .message {
    color: #ffffff;
}
footer .message button{
    padding: 10px;
    background-color: #0077b7;
    letter-spacing: normal;
  }
  
footer .message button:hover{
    padding: 10px;
    background-color: #059ff2;
    letter-spacing: normal;
}
label{
    color: #f9f8f8;
}