/* General Styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3f5ff;
}

h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
  padding-bottom: 30px;
  letter-spacing: 1.5px;
}

.container {
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.image {
  flex: 1;
  text-align: center;
}

@media (max-width: 767px){
  .container {
      flex-direction: column;
  }

  .image, .text {
      flex: none;
  }

  header, footer{
    width: 100%;
    margin-left: 0;
    padding-left: 5px;
  }

  nav, nav button, nav label{
    font-size: 8px;
  }
  nav select{
    font-size: 7px;
  }
  h1{
    font-size: 20px;
  }
}

/* Header Styles */
header, footer {
  /*background-color: #0066c8;*/
  color: #fff;
  padding: 28px 25px 10px;
  display: block;
  background-image: url("blue-trianglify-8e4a0501.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  letter-spacing: 1.5px;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: space-around;
  padding: 0px 30px 10px 0px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  padding: 15px 5px;
  transition: text-decoration 0.3s ease, letter-spacing 0.3s ease;
  letter-spacing: 1px;
}

header nav a:hover {
  color: #fff;
  padding: 15px 5px;
  letter-spacing: 2.5px;
}

/* Language Selection Styles */
.selection {
  margin-left: 20px;
}

label {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 16px;
}

/* Main Content Styles */
section {
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.image img {
  display: inline;
  margin: 0 auto;
  box-shadow: 20px 18px 20px 3px rgba(11, 11, 11, 0.1);
  max-width: 45%;
  height: auto;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #a5b11f57;
  padding: 8px;
  text-align: left;
}
th{
  background-color: #aec8e066;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Contact Form Styles */
.contact-link {
  color: black;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

form {
  width: 50%;
  margin: 0 auto;
}
.selection label{
  color: #ffffff;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  color: #fff;
  padding: 15px 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  letter-spacing: 2px;
}
#mode-toggle {
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  background-size: cover;
  background-color: transparent;
  display: flex;
  margin-left: auto;
}

.button-light {
  background-image: url('light.png');
}

/* Button styles for dark mode */
.button-dark {
  background-image: url('dark.png');
}
/* Footer Styles */
footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .message{
  padding-bottom: 20px;
}

footer .message button{
  padding: 10px;
  background-color: #0066c8;
  letter-spacing: normal;
  width: 106%;
}

footer .message button:hover{
  padding: 10px;
  background-color: #4c6e98;
  letter-spacing: normal;
}
.contact-icons {
  justify-content: space-around;
  display: flex;
  margin-bottom: 10px;
}

.contact-icons a {
  margin-right: 10px;
}

.contact-icons img {
  width: 40px;
  height: 40px;
}
.contact-icons img:hover{
  opacity: 0.8; /* Reduces opacity when hovered */
  transition: opacity 0.3s ease;
}
#contact-form {
  width: 98%;
  max-width: 300px;
}

/* Audio Player Styles */
audio {
  width: 90%;
  margin-top: 15px;
  height: 45px;
}

audio::-webkit-media-controls-panel {
  background-color: #e3f5ff;
  border-radius: 5px;
}

video {
  margin-top: 15px;
  max-width: 90%;
  box-shadow: 20px 18px 20px 3px rgba(11, 11, 11, 0.1);
}